.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: rgba(199, 228, 238, 0.329);
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
